.main{
    display: flex;
    width: 30%;
    align-items: end;
    background-color: white;
    margin-right: 0;
    position: fixed;
}

.heading{
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
    margin-right: 40%;
}

.close{
    background: transparent;
    color: black;
    width: max-content;
    border: 1px solid black;
    padding: 2px 7px;
}

.cartPanel{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: end;
}
.cartImage{
    height: 40%;
    width: 40%;
    border-radius: 10px;
    margin: 4px;
}