.secondHeader{
    background-color: gray;
    align-content: center;
    /* height: 100px; */
    color: white;
    padding: 30px;
}

.secondHeader h1{
    font-size:80px;
    font-weight: 800;
    font-family: "Times New Roman", Times, serif;
}